<!-- wp:template-part {"slug":"header-2","area":"header"} /-->

<!-- wp:columns {"className":"mx-auto max-w-7xl pb-24 pt-10 sm:pb-32 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:px-8 items-center"} -->
<div class="wp-block-columns mx-auto max-w-7xl pb-24 pt-10 sm:pb-32 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:px-8 items-center"><!-- wp:column {"width":"66.66%","layout":{"type":"default"}} -->
<div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"},"blockGap":"var:preset|spacing|30"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--50)"><!-- wp:heading {"level":1,"className":"text-4xl text-zinc"} -->
<h1 class="wp-block-heading text-4xl text-zinc" id="page-not-found">Page Not Found</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>The page you are looking for does not exist, or it has been moved. Please try searching using the form below.</p>
<!-- /wp:paragraph --></main>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%","className":"space-y-5"} -->
<div class="wp-block-column space-y-5" style="flex-basis:33.33%"><!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:heading {"className":"text-3xl text-zinc"} -->
<h2 class="wp-block-heading text-3xl text-zinc">Search</h2>
<!-- /wp:heading -->

<!-- wp:search {"label":"Search","showLabel":false,"width":100,"widthUnit":"%","buttonText":"Search","buttonUseIcon":true} /--></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:heading {"className":"text-3xl text-zinc"} -->
<h2 class="wp-block-heading text-3xl text-zinc">Latest Posts</h2>
<!-- /wp:heading -->

<!-- wp:latest-posts {"className":"text-md leading-6 text-zinc-900"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"footer-2"} /-->