<!-- wp:template-part {"slug":"header-2","area":"header"} /-->

<!-- wp:columns {"className":"mx-auto max-w-7xl pb-24 pt-10 sm:pb-32 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:px-8 items-center"} -->
<div class="wp-block-columns mx-auto max-w-7xl pb-24 pt-10 sm:pb-32 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:px-8 items-center"><!-- wp:column {"width":"66.66%","layout":{"type":"default"}} -->
<div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:boldblocks/breadcrumb-block {"separator":"\u003csvg xmlns=\u0022http://www.w3.org/2000/svg\u0022 fill=\u0022currentColor\u0022 width=\u00221em\u0022 height=\u00221em\u0022 viewBox=\u00220 0 16 16\u0022\u003e\n      \u003cpath fill-rule=\u0022evenodd\u0022 d=\u0022M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z\u0022/\u003e\n    \u003c/svg\u003e","homeText":"Blog","className":"px-4 lg:px-0 pb-4"} /-->

<!-- wp:template-part {"slug":"posts","tagName":"section"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%","className":"space-y-5"} -->
<div class="wp-block-column space-y-5" style="flex-basis:33.33%"><!-- wp:template-part {"slug":"sidebar"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"footer-2"} /-->