<!-- wp:template-part {"slug":"header-2","area":"header"} /-->
<!-- wp:group {"tagName":"article","className":"px-4 sm:px-6 md:px-8 max-w-3xl mx-auto my-10","layout":{"type":"flex","orientation":"vertical"}} -->
<article class="wp-block-group px-4 sm:px-6 md:px-8 max-w-3xl mx-auto my-10"><!-- wp:boldblocks/breadcrumb-block {"separator":"\u003csvg xmlns=\u0022http://www.w3.org/2000/svg\u0022 fill=\u0022currentColor\u0022 width=\u00221em\u0022 height=\u00221em\u0022 viewBox=\u00220 0 16 16\u0022\u003e\n      \u003cpath fill-rule=\u0022evenodd\u0022 d=\u0022M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z\u0022/\u003e\n    \u003c/svg\u003e","homeText":"Blog"} /-->

<!-- wp:post-title {"level":1,"className":"pt-4 font-serif pb-4 text-6xl tracking-tight text-zinc-900"} /-->

<!-- wp:template-part {"slug":"post-meta","area":"uncategorized"} /-->

<!-- wp:post-featured-image {"className":"rounded-sm w-full"} /-->

<!-- wp:post-content {"className":"prose prose-zinc py-12"} /-->

<!-- wp:post-author {"showBio":true,"isLink":true,"className":"p-6 mt-12 text-md bg-zinc-100 rounded-lg w-full"} /--></article>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer-2"} /-->